<h1>Ticket #{{ticketId}} has been updated</h1>

<p>A new status <strong>"{{statusName}}"</strong> has been assigned the ticket #{{ticketId}}.</p>
<p>Please, visit <a href="{{ticketUrl}}">{{ticketUrl}}</a> to review it.</p>
